In [2]:
import numpy as np  
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
from matplotlib import rc

rc('font', family='AppleGothic')

plt.rcParams['axes.unicode_minus'] = False

In [3]:
df = pd.read_excel('train.xlsx')
df.head()

,기준년도,학교종류명,설립구분명,학교명,학과명(전공),구분명,학과특성명,학과상태명,재적학생수(A)(명),합계(B)(명),미등록수(명),미복학수(명),자퇴수(명),학사경고수(명),학생활동수(명),유급제적수(명),수업연한초과수(명),기타수(명),중도탈락학생비율(%)((B/A) × 100)(%)
0,2018,기능대학,사립,ICT폴리텍대학,멀티미디어통신학과,주간,일반과정,기존,165,7,0,2,5,0,0,0,0,0,4.2
1,2018,기능대학,사립,ICT폴리텍대학,정보통신학과,주간,일반과정,기존,158,19,0,7,12,0,0,0,0,0,12.0
2,2018,기능대학,사립,ICT폴리텍대학,모바일통신학과,주간,일반과정,기존,151,12,1,2,9,0,0,0,0,0,7.9
3,2018,기능대학,사립,ICT폴리텍대학,방송통신설비과,주간,일반과정,폐과,0,0,0,0,0,0,0,0,0,0,0.0
4,2018,기능대학,사립,ICT폴리텍대학,스마트통신학과,주간,일반과정,기존,161,19,0,9,10,0,0,0,0,0,11.8

In [4]:
df.columns = ['연도','학교종류','설립구분','학교명','학과명','시간대','학과과정','학과상태','재적학생수','합계','미등록수','미복학수','자퇴수','학사경고수','학생활동수','유급제적수','수업연한초과수','기타수','중도탈락학생비율']
df.head()

,연도,학교종류,설립구분,학교명,학과명,시간대,학과과정,학과상태,재적학생수,합계,미등록수,미복학수,자퇴수,학사경고수,학생활동수,유급제적수,수업연한초과수,기타수,중도탈락학생비율
0,2018,기능대학,사립,ICT폴리텍대학,멀티미디어통신학과,주간,일반과정,기존,165,7,0,2,5,0,0,0,0,0,4.2
1,2018,기능대학,사립,ICT폴리텍대학,정보통신학과,주간,일반과정,기존,158,19,0,7,12,0,0,0,0,0,12.0
2,2018,기능대학,사립,ICT폴리텍대학,모바일통신학과,주간,일반과정,기존,151,12,1,2,9,0,0,0,0,0,7.9
3,2018,기능대학,사립,ICT폴리텍대학,방송통신설비과,주간,일반과정,폐과,0,0,0,0,0,0,0,0,0,0,0.0
4,2018,기능대학,사립,ICT폴리텍대학,스마트통신학과,주간,일반과정,기존,161,19,0,9,10,0,0,0,0,0,11.8

In [5]:
df['학교종류'].value_counts()

대학교          18422
전문대학(2년제)    11645
전문대학(3년제)    11030
산업대학           893
기능대학           280
교육대학           148
사이버대학(대학)      103
각종대학(전문)         3
Name: 학교종류, dtype: int64

In [25]:
df['학교명'].value_counts().head(20)

한양대학교(ERICA) _분교    904
수원대학교               812
가천대학교               768
경기대학교               764
가천대학교 _본교           743
단국대학교               728
동서울대학교              668
부천대학교               600
중앙대학교 _제2캠퍼스        567
을지대학교 _제2캠퍼스        562
대림대학교               560
유한대학교               556
두원공과대학교             532
대진대학교               520
경민대학교               504
동원대학교               504
신한대학교 _제2캠퍼스        503
용인송담대학교 _본교         493
단국대학교 _본교           476
신구대학교               472
Name: 학교명, dtype: int64