# 2. Series

In [1]:
import pandas as pd 
import numpy as np

## 2-1. Series 생성하기
* Numpy에서 제공하는 1차원 배열과 유사, 
* 엑셀에서 한 컬럼
* Series = 1차원 배열의 값(value) + 행 인덱스(index)

In [2]:
# 1. value 값만 주기
# index를 지정하지 않은 경우 0부터 시작하는 index가 부여됨
s = pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
type(s)

pandas.core.series.Series

In [4]:
s.shape

(4,)

In [5]:
# index
s.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
# value
s.values

array([1, 2, 3, 4], dtype=int64)

In [7]:
type(s.values)

numpy.ndarray

In [8]:
# dtype 지정하기
pd.Series([1,2,3,4],dtype=float)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [9]:
pd.Series(np.array([1,2,3,4]))

0    1
1    2
2    3
3    4
dtype: int32

In [10]:
# 1~10까지 Series 만들기
pd.Series(range(1,11))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [11]:
pd.Series(np.arange(1,11))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

In [12]:
# 2. value 와 index 둘 다 주기
index = [1,2,3,4]
s = pd.Series([10,20,30,40], index=index)
s

1    10
2    20
3    30
4    40
dtype: int64

In [13]:
# index 에 문자열 주기
index = ['치킨','초밥','콜라','삼겹살']
s = pd.Series([16000,30000,2000,12000], index=index)
s

치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
dtype: int64

In [14]:
s.index

Index(['치킨', '초밥', '콜라', '삼겹살'], dtype='object')

In [15]:
s.values
#

array([16000, 30000,  2000, 12000], dtype=int64)

In [16]:
# 딕셔너리로 만들기
s = pd.Series({'치킨':16000, '초밥':30000, '콜라':2000, '삼겹살':12000})

In [17]:
s.name = '메뉴'
s.index.name = '메뉴 명'
s

메뉴 명
치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
Name: 메뉴, dtype: int64

## 2-2. Sereis 인덱싱과 슬라이싱

In [18]:
s['치킨'], s.치킨

(16000, 16000)

In [19]:
s[-1],s['삼겹살'],s.삼겹살

(12000, 12000, 12000)

In [20]:
# index가 숫자인 경우
t = pd.Series([10,20,30,40], index=[1,2,3,4])
t

1    10
2    20
3    30
4    40
dtype: int64

In [21]:
t[1]

10

In [22]:
# Fancy 인덱싱
s[['치킨','콜라']]

메뉴 명
치킨    16000
콜라     2000
Name: 메뉴, dtype: int64

In [23]:
s[[0,2]]

메뉴 명
치킨    16000
콜라     2000
Name: 메뉴, dtype: int64

In [24]:
# boolean 인덱싱
s[(s >= 15000) & (s <= 30000)]

메뉴 명
치킨    16000
초밥    30000
Name: 메뉴, dtype: int64

In [25]:
# 슬라이싱 (start:end:step)
# 0 인덱싱 사용 슬라이싱 -> end 전까지
s[1:3:]

메뉴 명
초밥    30000
콜라     2000
Name: 메뉴, dtype: int64

In [26]:
# 인덱스 라벨로 슬라이싱을 하면 end까지
s['초밥':'삼겹살']

메뉴 명
초밥     30000
콜라      2000
삼겹살    12000
Name: 메뉴, dtype: int64

## 2-3. Series 데이터 CRUD

In [27]:
# 앞애서부터 데이터 보기
s.head(2)

메뉴 명
치킨    16000
초밥    30000
Name: 메뉴, dtype: int64

In [28]:
# 뒤에서부터 데이터 보여주기
s.tail(3)

메뉴 명
초밥     30000
콜라      2000
삼겹살    12000
Name: 메뉴, dtype: int64

In [29]:
# 데이터 추가
# 피자 추가
s['피자'] = 20000
s

메뉴 명
치킨     16000
초밥     30000
콜라      2000
삼겹살    12000
피자     20000
Name: 메뉴, dtype: int64

In [30]:
s['햄버거'] = np.nan
s

메뉴 명
치킨     16000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
햄버거        NaN
Name: 메뉴, dtype: float64

In [31]:
# 비어있는 데이터 찾기
s[s.isnull()]

메뉴 명
햄버거   NaN
Name: 메뉴, dtype: float64

In [32]:
s[s.isna()]

메뉴 명
햄버거   NaN
Name: 메뉴, dtype: float64

In [33]:
# 비어있지 않은 데이터 찾기
s[s.notnull()]
s.notna()

메뉴 명
치킨      True
초밥      True
콜라      True
삼겹살     True
피자      True
햄버거    False
Name: 메뉴, dtype: bool

In [34]:
# 데이터 변경하기
s['치킨'] = 20000
s

메뉴 명
치킨     20000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
햄버거        NaN
Name: 메뉴, dtype: float64

In [35]:
# 데이터 삭제하기
del s['햄버거']
s

메뉴 명
치킨     20000.0
초밥     30000.0
콜라      2000.0
삼겹살    12000.0
피자     20000.0
Name: 메뉴, dtype: float64

## 2-4. Series 연산

In [44]:
# Series 간의 사칙연산
data = s.values
index = s.index
s2 = pd.Series(data=data, index=index, dtype=np.int64)
s2

메뉴 명
치킨     20000
초밥     30000
콜라      2000
삼겹살    12000
피자     20000
dtype: int64

In [46]:
s + s2 # 인덱스 라벨이 동일해야 함

메뉴 명
치킨     40000.0
초밥     60000.0
콜라      4000.0
삼겹살    24000.0
피자     40000.0
dtype: float64

In [47]:
s - s2

메뉴 명
치킨     0.0
초밥     0.0
콜라     0.0
삼겹살    0.0
피자     0.0
dtype: float64

In [49]:
# Scalar와의 연산 (Broadcast)
s = s + 1000
s

메뉴 명
치킨     21000.0
초밥     31000.0
콜라      3000.0
삼겹살    13000.0
피자     21000.0
Name: 메뉴, dtype: float64

In [50]:
# Aggregation 함수
s.max()

31000.0

In [51]:
s.sum()

89000.0

In [53]:
s.mean()

17800.0

In [54]:
s.median()

21000.0

In [55]:
s

메뉴 명
치킨     21000.0
초밥     31000.0
콜라      3000.0
삼겹살    13000.0
피자     21000.0
Name: 메뉴, dtype: float64